* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  .flexnav {
    display: flex;
    justify-content: space-around;
    height: 7vh;
    width: 100vw;
    list-style: none;
    background-color: #131c27 ;
    color: white;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1;
    top: 0;
    position: fixed;
    

}

.Travellylogo  {
 font-family: 'Pattaya', sans-serif;
}





body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: white;
    font-family: 'Poppins', sans-serif;

}



.content {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 30vw;
    align-items: center;
    font-size: 1.5rem;
    
}

nav a  {
    color: white;

}

a:link {
  text-decoration: none;
}

.beyondlimits {
    display: flex;
    height: 120vh;
    width: 100vw;
    background-image: url(./img/landing-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contend {
 display: flex;
 text-align: center;
 align-self: center;
 color: white;
 flex-direction: column;
 justify-content: space-evenly;
 font-size: 3rem;
 height: 40vh;
 width: 100vw;
}

.bookbutton {
    color: white;
    background-color: #4c6e97 ;
    border: none;
    width: 13rem;
    height: 4rem;
    align-self: center;
}

.bookbutton:hover {
    background-color: #5880b1;
}
    
.textbeyond {
    padding: 4rem;
}

.explore {
    display: flex;
    width: 100vw;
    height: 140vh;
    background: url(./img/new-york-page.png), linear-gradient(90deg, rgba(137,137,137,1) 0%, rgba(204,204,204,1) 35%), no-repeat;
    background-size: cover;
    color: white;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
}

.explore h2, .explore p {
    margin-left:  10vh;
}



.explore h2 {
    border-bottom: solid;
    width: 37rem;
}

.explore {
    display: flex;
    
}
    



.headersec3 {
display: flex;
    height: 25vh;
    width: 100vw;
    background-color: #131c27 ;
    color: white;
    font-size: 3rem;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}

.headersec3 p {
   width:78rem;
    text-align: center;
}

.contendsec3 {
    display: flex;
    height: 75vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    

    background-color: rgb(255, 255, 255);
}

.travelcontainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 35rem;
    height: 45rem;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.4);
    
        
}

.travelcontainer h2, .travelcontainer p {
   display: flex;
   align-self: center;
   flex-direction: column;
   justify-content: center;
   font-size: 2rem;
   text-align: center;
   height: 14vh;
   
}



.travelcontainerimg {
    display: flex;
    background-color: #131c27;
    height: 8rem;
    width: 35rem;
    justify-content: center;
    align-items: center;
}

.travelcontainerimg img {
    display: flex;
    width: 10rem;
    height: 5rem;

}

.section4 {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: url(./img/contact-mountain.png), linear-gradient(195deg, rgb(90, 90, 90) 0%, rgba(204,204,204,1) 35%), no-repeat;
    background-size: cover;
    justify-content: center;
}

.containercontact {
    display: flex;
    width: 100vw;
    height: 50vh;
    width: 50vw;
    background: rgba(19, 28, 39, 0.8); 
    align-self: center;
    border-radius: 3vh;
    flex-direction: column;
    justify-content: center;
    size:   
}

.containercontact h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    position: relative;
    bottom: 5vh;
}

.info {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 3rem;
    padding: 2vh;
    opacity: 100;
    
    
}

.info label {
    padding-right: 1vw;
}

.submitcontact button {
    height: 5vh;
    width: 100vw;
    color: white;
    background-color: #4c6e97;
    border: none;
    border-bottom-right-radius: 3vh;
    border-bottom-left-radius: 3vh;
    
    

}
.submitcontact {
    display: flex;
    border-radius: 5vh;
    color: #4c6e97;
}




footer{
    background-color: #131c27;
    height: 7vh;
    position: 0;
    text-align: center;
    color: white;
    width: 100vw;
}

