html {
    font-size: 62.5%;
}
h1 {
    font-size: 24px;
    color: blue;
    font-weight: 500;
    font-style: italic;
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    color: teal;
    font-weight: bold;
}

p {
   color: #4D4D4D  ;
   font-size: 1.6rem;
}

.first_paragrapgh p {
font-weight: bold;
}

a, a:visited {
    color: #8A2BE2;
    text-decoration: none;
    

}

header {
    height: 33vh;
    width: 100vw;
    background-image: url("./img/Headerpic.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

header h1 , header p {
    color: white;


}

img {
    width: 50vw;
}

article {
    border: 0.3rem solid black;  
    border-radius: 2rem;
    border-color: firebrick;
    border-left-width: 0.4rem;
}

* {
    
}