* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  width: 100vw;
  min-height: 100vh;
 
  background-color: black;
  position: relative;
  
}

.container{
  width: 100vw;
  height: 100vh;
  background-image: url(./img/hackerman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 50rem;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 10vh;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

section {
  width: 100vw;
  height: 100vh;
}

footer {
  position: absolute;
  background: #00a8c7;
  height: 7vh;
  width: 100vw;
  position: absolute;
  text-align: center;
  padding: 5rem;
}

Header {
  font-weight: bold;
  text-align: center;
  position: relative;

}

main {
  margin-top: 50vh;

}

h1 { 
  font-size: 7rem;
  margin-bottom: 20 rem;
  position: relative;
  margin-top: 40vw;
  
}

h2 {
  font-size: 6rem;
  padding: 20rem;
 }

section {
  position: relative;
  margin-top: 15rem;

}

p{
  font-size: 2rem;
  line-height: 2.75rem;
}
/* 
.right img {
  float: right;
}

div {
  width: 20vw;
  
} */

.paragraphl {
  width: 40vw;
  float: right;
  padding-right: 6rem;
  margin-left: 50rem;

}



.paragraphr {
  width: 40vw;
  float: left;
  padding-left: 6rem;
  margin-right: 50rem;
}

.sqllogo {
  padding-bottom: 20rem;
}

.csshtmllogo {
  position: relative;
  margin-top: -3rem;
  padding-left: 10rem;
}

.phptext {
  margin-top: -23rem;
}

.phplogo {
  padding-left: 10rem;

}



  



