* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-image: url(./img/hackerman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  height: 100vw;
  background-color: black;
  overflow-x: hidden;
  position: relative;

}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

section {
  width: 100vw;
  height: 100vh;
}

footer {
  background-color: #00a8c7 ;
  width: 100vw;
  height: 15vh;
  position: absolute;  
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 5rem;
  font-size: 1.5rem;
}

Header {
  font-weight: bold;
  text-align: center;
  position: relative;

}

main {
  margin-top: 50vh;

}

h1 { 
  font-size: 5rem;
  margin-bottom: 20 rem;
}

section {
  position: relative;

}

p{
  font-size: 1.7rem;
}
/* 
.right img {
  float: right;
}

div {
  width: 20vw;
  
} */

.paragraphl {
  width: 40vw;
  float: right;

}

.paragraphr {
  width: 40vw;
  float: left;
}

h1 {
  position: relative;
  margin-top: 30vw;
}